docs/n8n/2026-06-27-outbound-xu-ly-bao-hanh.json
{
  "name": "Outbound - Xu ly bao hanh -> Caresoft",
  "nodes": [
    { "parameters": { "httpMethod": "POST", "path": "caresoft-warranty-outbound", "options": {} }, "type": "n8n-nodes-base.webhook", "typeVersion": 2.1, "position": [0, 320], "id": "wh01", "name": "Webhook", "webhookId": "caresoft-warranty-outbound" },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "typeValidation": "strict" }, "combinator": "and", "conditions": [ { "id": "c1", "leftValue": "={{ $json.body.record['trạng_thái_đồng_bộ'] }}", "rightValue": "pending", "operator": { "type": "string", "operation": "equals" } } ] }, "options": {} }, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [200, 320], "id": "ifp", "name": "Loc pending" },
    { "parameters": { "jsCode": "const r = $json.body.record;\nconst tt = r['thông_tin_bổ_sung'] || {};\nconst ticketId = r['id_phiếu_ghi'] || r['caresoft_ticket_id'];\nconst cf = [];\nconst add = (id, v) => { if (v !== null && v !== undefined && String(v).trim() !== '') cf.push({ id: String(id), value: String(v) }); };\nadd(9665, tt['mã_đlđ']);\nadd(9849, tt['tên_đlđ']);\nadd(9829, tt['sđt_đlđ']);\nadd(9694, tt['địa_chỉ_nhận_hàng']);\nadd(9706, tt['tên_khách_hàng']);\nadd(9705, tt['số_điện_thoại_khách_hàng']);\nconst steps = Array.isArray(r['các_bước']) ? r['các_bước'] : [];\nconst done = steps.filter(s => s['trạng_thái'] === 'xong').map(s => s['tên']).filter(Boolean).join(', ');\nconst parts = Array.isArray(r['linh_kiện_thay']) ? r['linh_kiện_thay'] : [];\nconst partsTxt = parts.map(p => `${p['tên']} x${p['số_lượng']}`).join('; ');\nconst cost = Number(r['tổng_chi_phí']) || 0;\nconst commentBody = ['[Cập nhật từ Webapp QLSX]', r['trạng_thái_xử_lý'] ? `Trạng thái xử lý: ${r['trạng_thái_xử_lý']}` : null, r['người_phụ_trách'] ? `Người phụ trách: ${r['người_phụ_trách']}` : null, r['kết_quả_xử_lý'] ? `Kết quả: ${r['kết_quả_xử_lý']}` : null, partsTxt ? `Linh kiện thay: ${partsTxt}` : null, cost ? `Tổng chi phí: ${cost.toLocaleString('vi-VN')} đ` : null, done ? `Bước đã hoàn thành: ${done}` : null].filter(Boolean).join('\\n');\nreturn [{ json: { rowId: r.id, ticketId, final_custom_fields: cf, commentBody, customerName: tt['tên_khách_hàng'] || '', customerPhone: tt['số_điện_thoại_khách_hàng'] || '' } }];" }, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [400, 320], "id": "prep", "name": "Chuan bi" },
    { "parameters": { "conditions": { "options": { "caseSensitive": true, "typeValidation": "loose" }, "combinator": "and", "conditions": [ { "id": "c2", "leftValue": "={{ $json.customerPhone }}", "rightValue": "", "operator": { "type": "string", "operation": "notEmpty", "singleValue": true } } ] }, "options": {} }, "type": "n8n-nodes-base.if", "typeVersion": 2, "position": [600, 320], "id": "ifc", "name": "Co khach hang" },
    { "parameters": { "method": "POST", "url": "https://api.caresoft.vn/EUROMADE/api/v1/contacts/", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "Bearer cm6e8wK4dHLdZIA" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ contact: { username: $json.customerName, phone_no: $json.customerPhone } }) }}", "options": {} }, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [820, 220], "id": "ctNew", "name": "Tao contact", "onError": "continueErrorOutput" },
    { "parameters": { "jsCode": "const resp = $json;\nconst id = (resp.contact && resp.contact.id) || resp.id || null;\nreturn [{ json: { ...$('Chuan bi').item.json, requester_id: id } }];" }, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1040, 140], "id": "reqOk", "name": "reqOK" },
    { "parameters": { "jsCode": "const data = $input.all()[0].json;\nlet dup = null;\nif (data.error && data.error.message) { const m = String(data.error.message).match(/duplicate_id[^0-9]+([0-9]+)/); if (m) dup = m[1]; }\nreturn [{ json: { ...$('Chuan bi').item.json, caresoft_contact_id: dup } }];" }, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1040, 320], "id": "dupId", "name": "Bat ID trung" },
    { "parameters": { "method": "PUT", "url": "=https://api.caresoft.vn/EUROMADE/api/v1/contacts/{{ $json.caresoft_contact_id }}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "Bearer cm6e8wK4dHLdZIA" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ contact: { username: $json.customerName } }) }}", "options": {} }, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1240, 320], "id": "ctUpd", "name": "Cap nhat ten contact" },
    { "parameters": { "jsCode": "return [{ json: { ...$('Chuan bi').item.json, requester_id: $('Bat ID trung').item.json.caresoft_contact_id } }];" }, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1440, 320], "id": "reqDup", "name": "reqDup" },
    { "parameters": { "method": "PUT", "url": "=https://api.caresoft.vn/EUROMADE/api/v1/tickets/{{ $('Chuan bi').item.json.ticketId }}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "Bearer cm6e8wK4dHLdZIA" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ ticket: { requester_id: $json.requester_id, ticket_comment: { body: $('Chuan bi').item.json.commentBody, is_public: 0, author_id: 195739221 }, custom_fields: $('Chuan bi').item.json.final_custom_fields } }) }}", "options": {} }, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [1660, 240], "id": "tkReq", "name": "PUT ticket (co requester)", "onError": "continueErrorOutput" },
    { "parameters": { "method": "PUT", "url": "=https://api.caresoft.vn/EUROMADE/api/v1/tickets/{{ $('Chuan bi').item.json.ticketId }}", "sendHeaders": true, "headerParameters": { "parameters": [ { "name": "Authorization", "value": "Bearer cm6e8wK4dHLdZIA" }, { "name": "Content-Type", "value": "application/json" } ] }, "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify({ ticket: { ticket_comment: { body: $('Chuan bi').item.json.commentBody, is_public: 0, author_id: 195739221 }, custom_fields: $('Chuan bi').item.json.final_custom_fields } }) }}", "options": {} }, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.4, "position": [820, 460], "id": "tkNo", "name": "PUT ticket (khong requester)", "onError": "continueErrorOutput" },
    { "parameters": { "operation": "update", "tableId": "xu_ly_phieu_bao_hanh", "filters": { "conditions": [ { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Chuan bi').item.json.rowId }}" } ] }, "fieldsUi": { "fieldValues": [ { "fieldId": "trạng_thái_đồng_bộ", "fieldValue": "đã_đồng_bộ" }, { "fieldId": "thời_điểm_đồng_bộ", "fieldValue": "={{ $now.toISO() }}" }, { "fieldId": "lỗi_đồng_bộ", "fieldValue": "" } ] } }, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1900, 240], "id": "ackOk", "name": "ACK ok", "credentials": { "supabaseApi": { "id": "kAOz6fNsa8UHk4Ws", "name": "Supabase account 2" } } },
    { "parameters": { "operation": "update", "tableId": "xu_ly_phieu_bao_hanh", "filters": { "conditions": [ { "keyName": "id", "condition": "eq", "keyValue": "={{ $('Chuan bi').item.json.rowId }}" } ] }, "fieldsUi": { "fieldValues": [ { "fieldId": "trạng_thái_đồng_bộ", "fieldValue": "lỗi" }, { "fieldId": "lỗi_đồng_bộ", "fieldValue": "={{ ($json.error && $json.error.message) || $json.message || JSON.stringify($json).slice(0,500) }}" } ] } }, "type": "n8n-nodes-base.supabase", "typeVersion": 1, "position": [1900, 460], "id": "ackErr", "name": "ACK loi", "credentials": { "supabaseApi": { "id": "kAOz6fNsa8UHk4Ws", "name": "Supabase account 2" } } }
  ],
  "connections": {
    "Webhook": { "main": [ [ { "node": "Loc pending", "type": "main", "index": 0 } ] ] },
    "Loc pending": { "main": [ [ { "node": "Chuan bi", "type": "main", "index": 0 } ], [] ] },
    "Chuan bi": { "main": [ [ { "node": "Co khach hang", "type": "main", "index": 0 } ] ] },
    "Co khach hang": { "main": [ [ { "node": "Tao contact", "type": "main", "index": 0 } ], [ { "node": "PUT ticket (khong requester)", "type": "main", "index": 0 } ] ] },
    "Tao contact": { "main": [ [ { "node": "reqOK", "type": "main", "index": 0 } ], [ { "node": "Bat ID trung", "type": "main", "index": 0 } ] ] },
    "reqOK": { "main": [ [ { "node": "PUT ticket (co requester)", "type": "main", "index": 0 } ] ] },
    "Bat ID trung": { "main": [ [ { "node": "Cap nhat ten contact", "type": "main", "index": 0 } ] ] },
    "Cap nhat ten contact": { "main": [ [ { "node": "reqDup", "type": "main", "index": 0 } ] ] },
    "reqDup": { "main": [ [ { "node": "PUT ticket (co requester)", "type": "main", "index": 0 } ] ] },
    "PUT ticket (co requester)": { "main": [ [ { "node": "ACK ok", "type": "main", "index": 0 } ], [ { "node": "ACK loi", "type": "main", "index": 0 } ] ] },
    "PUT ticket (khong requester)": { "main": [ [ { "node": "ACK ok", "type": "main", "index": 0 } ], [ { "node": "ACK loi", "type": "main", "index": 0 } ] ] }
  },
  "pinData": {},
  "meta": { "templateCredsSetupCompleted": true }
}
