docs/n8n/wf-nhac-viec-viec-nhom.json
{
  "nodes": [
    {
      "parameters": {
        "path": "f",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3392,
        2192
      ],
      "id": "8eced5a7-5ab9-400e-a284-beef539f9c24",
      "name": "Webhook xem file",
      "webhookId": "xem-file-dinh-kem"
    },
    {
      "parameters": {
        "jsCode": "// Đổi link ngắn ?p=<path trong bucket> thành link XEM TRỰC TIẾP:\n// - excel/word/powerpoint -> Office Viewer (xem ngay trên điện thoại, không phải tải về;\n//   giới hạn của Office Viewer: file ~10MB trở xuống)\n// - pdf / video / ảnh     -> mở thẳng URL Storage, trình duyệt tự render\n// Path phải nằm trong bucket task-attachments (chặn '..' để không trỏ đi nơi khác).\nconst q = $input.first().json.query || {};\nconst p = String(q.p || '');\nconst BUCKET_BASE = 'https://ngwkzicrnspeggunsblr.supabase.co/storage/v1/object/public/task-attachments/';\nconst FALLBACK = 'https://amazing-frangollo-eb56a9.netlify.app';\n\nlet target = FALLBACK;\nif (p && !p.includes('..')) {\n    const raw = BUCKET_BASE + p;\n    const m = p.toLowerCase().match(/\\.([a-z0-9]+)$/);\n    const ext = m ? m[1] : '';\n    target = ['xlsx', 'xls', 'docx', 'doc', 'pptx', 'ppt'].includes(ext)\n        ? 'https://view.officeapps.live.com/op/view.aspx?src=' + encodeURIComponent(raw)\n        : raw;\n}\nreturn [{ json: { target } }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3616,
        2192
      ],
      "id": "71c8dd44-7cd5-44bc-8a2f-143c75b14bca",
      "name": "Chọn đích xem"
    },
    {
      "parameters": {
        "respondWith": "text",
        "options": {
          "responseCode": 302,
          "responseHeaders": {
            "entries": [
              {
                "name": "Location",
                "value": "={{ $json.target }}"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3840,
        2192
      ],
      "id": "598030f5-1101-48d4-8a5f-8ceaded4f772",
      "name": "Chuyển hướng 302"
    },
    {
      "parameters": {
        "content": "## Link ngắn \"xem file đính kèm\"\nURL prod: `https://thegioilocnuoc.site/webhook/f?p=<path>`\n(dùng trong tin nhắn Zalo thay cho URL Storage dài).\n\n- excel/word → Office Viewer, xem ngay không tải về\n- pdf/video/ảnh → mở thẳng, trình duyệt tự render\n\nPHẢI Activate workflow này thì link mới sống.\nĐổi tên miền app: sửa FALLBACK trong node Code.",
        "height": 200,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3392,
        1952
      ],
      "id": "88f4cb96-6304-45fc-bdbb-2cf5be885fa4",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        3392,
        2848
      ],
      "id": "4a443ebe-9509-420a-9d7e-eef8741af5d3",
      "name": "Schedule 8h & 17h"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a6fc08fc-dc4e-432e-9588-424d78470769",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3392,
        3024
      ],
      "id": "10648b59-254e-453d-b250-2991523dd3ed",
      "name": "Webhook tổng hợp",
      "webhookId": "a6fc08fc-dc4e-432e-9588-424d78470769"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "47cc5412-40b2-4747-af7f-8d7090cb40c2",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        3392,
        3200
      ],
      "id": "a9edefc3-0f15-44c9-97a1-c22362e3cbe3",
      "name": "Webhook cập nhật task",
      "webhookId": "47cc5412-40b2-4747-af7f-8d7090cb40c2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "16Ds1SmhzS_E9cX8HnoXEFxh1oucc3g7-bVr9gM15tL0",
          "mode": "list",
          "cachedResultName": "Bảng tính không có tiêu đề",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Ds1SmhzS_E9cX8HnoXEFxh1oucc3g7-bVr9gM15tL0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Zalo token",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16Ds1SmhzS_E9cX8HnoXEFxh1oucc3g7-bVr9gM15tL0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        3648,
        3024
      ],
      "id": "f21b6ab9-fcb8-4f7a-8e3d-ed6148332199",
      "name": "Lấy token OA",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LkXo3hroY3NHTeik",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "branch-check-01",
              "leftValue": "={{ $('Webhook cập nhật task').isExecuted }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        3888,
        3024
      ],
      "id": "11d8c1b1-2c15-4389-9813-08c8a275eb48",
      "name": "Là cập nhật task?"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "nhan_vien",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4128,
        2864
      ],
      "id": "b65dc0e6-c8e9-4736-9495-cf7eb2a4b808",
      "name": "Lấy nhân viên",
      "executeOnce": true,
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kAOz6fNsa8UHk4Ws",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "url": "https://ngwkzicrnspeggunsblr.supabase.co/rest/v1/cong_viec_duoc_giao",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "or",
              "value": "(status.eq.PENDING,status.eq.IN_PROGRESS)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5nd2t6aWNybnNwZWdndW5zYmxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMTU4MTgsImV4cCI6MjA4NzY5MTgxOH0.XgxezghOyUYgr370Ge13VN_V2r-PfR4BEq7JDDF4Pts"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5nd2t6aWNybnNwZWdndW5zYmxyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzIxMTU4MTgsImV4cCI6MjA4NzY5MTgxOH0.XgxezghOyUYgr370Ge13VN_V2r-PfR4BEq7JDDF4Pts"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        4368,
        2864
      ],
      "id": "2d57cb12-f0e1-4f29-86b1-dd058a51e2f1",
      "name": "Lấy công việc",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ==============================================================\n// TẠO NỘI DUNG ẢNH (định kỳ / theo yêu cầu)\n// - Item 1        : Bảng tổng hợp công việc cả phòng\n// - Item 2..n     : Bảng riêng của TỪNG NGƯỜI đang có việc\n// Mỗi item đầu ra : { html, message_text } -> đi vào CHUỖI GỬI CHUNG\n// Không hardcode tên nhân viên - lấy trực tiếp từ bảng nhan_vien\n// VIỆC NHÓM 2026-07-17: đọc cột assignee_ids (text[]) — 1 việc giao nhiều người.\n// - Bảng tổng hợp: ô \"Người làm\" liệt kê ĐỦ mọi thành viên (mỗi người 1 dòng avatar+tên).\n// - Bảng cá nhân : việc nhóm xuất hiện trong bảng của TỪNG thành viên.\n// - Fallback     : dòng chưa migrate dùng assignee_id; cũ hơn nữa dùng cột name.\n// ==============================================================\nconst tasks = $('Lấy công việc').all().map(i => i.json).filter(t => t && t.id);\nconst nhanVien = $('Lấy nhân viên').all().map(i => i.json).filter(n => n && n.name);\n\nconst GROUP_ID = 'deb64378401ba945f00a';\nconst avatarMap = {};\nconst nvById = {};\nconst nvByName = {};\nnhanVien.forEach(nv => {\n    avatarMap[nv.name] = nv.avatar || '';\n    nvById[nv.id] = nv;\n    nvByName[nv.name] = nv;\n});\n\n// Danh sách thành viên của 1 việc (bản n8n của memberIds() trong src/lib/taskAssignees.js)\nfunction memberIdsOf(t) {\n    const raw = Array.isArray(t.assignee_ids) && t.assignee_ids.length\n        ? t.assignee_ids\n        : (t.assignee_id ? [t.assignee_id] : []);\n    const seen = new Set(); const out = [];\n    for (const id of raw) { if (id && !seen.has(id)) { seen.add(id); out.push(id); } }\n    return out;\n}\nfunction memberNamesOf(t) {\n    const names = memberIdsOf(t).map(id => (nvById[id] || {}).name).filter(Boolean);\n    return names.length ? names : (t.name ? [t.name] : []);\n}\n\n// ===== AVATAR (ảnh đại diện nhân viên) =====\n// DB lưu đường dẫn tương đối '/avatars/x.webp'. HCTI render trên server riêng nên\n// PHẢI ghép thành URL tuyệt đối theo tên miền app đã deploy. Đổi APP_BASE bên dưới.\nconst APP_BASE = 'https://amazing-frangollo-eb56a9.netlify.app'; // vd: 'https://qlsx-tgln.netlify.app' (KHÔNG có dấu / ở cuối)\nfunction avatarUrl(p) {\n    if (!p) return '';\n    if (/^https?:\\/\\//i.test(p)) return p;            // đã là URL tuyệt đối\n    return APP_BASE.replace(/\\/+$/, '') + (p.charAt(0) === '/' ? p : '/' + p);\n}\nfunction initials(name) {\n    return (name || '?').trim().split(/\\s+/).map(w => w[0]).slice(-2).join('').toUpperCase() || '?';\n}\n// Avatar lớn cho tiêu đề bảng cá nhân; nếu không có ảnh -> chữ cái đầu tên\nfunction avatarBig(name) {\n    const u = avatarUrl(avatarMap[name]);\n    return u ? `<img class=\"hdr-av\" src=\"${u}\" alt=\"\"/>`\n             : `<div class=\"hdr-av hdr-av-fb\">${initials(name)}</div>`;\n}\n// Avatar nhỏ trong ô \"Người làm\" của bảng tổng hợp\nfunction avatarSmall(name) {\n    const u = avatarUrl(avatarMap[name]);\n    return u ? `<img class=\"cell-av\" src=\"${u}\" alt=\"\"/>`\n             : `<div class=\"cell-av cell-av-fb\">${initials(name)}</div>`;\n}\n\n// ===== MÚI GIỜ (fix lệch -7 tiếng) =====\n// Server n8n chạy UTC nên new Date().getHours() trả giờ UTC (10:00 VN in ra 03:00).\n// Mọi format/đếm ngày phải ÉP Asia/Ho_Chi_Minh, KHÔNG dùng getHours()/setHours().\nconst VN_TZ = 'Asia/Ho_Chi_Minh';\n\nfunction formatDateTime(isoString) {\n    try {\n        const parts = new Intl.DateTimeFormat('en-GB', {\n            timeZone: VN_TZ, hour12: false,\n            day: '2-digit', month: '2-digit', year: 'numeric',\n            hour: '2-digit', minute: '2-digit'\n        }).formatToParts(new Date(isoString));\n        const g = t => parts.find(x => x.type === t).value;\n        return `${g('day')}/${g('month')}/${g('year')} ${g('hour')}:${g('minute')}`;\n    } catch (e) { return isoString; }\n}\n\n// Số thứ tự NGÀY theo giờ VN (ngày kể từ epoch) — đếm \"còn/trễ X ngày\" đúng cả quanh nửa đêm VN.\nfunction vnDayNumber(dateLike) {\n    const s = new Intl.DateTimeFormat('en-CA', { timeZone: VN_TZ, year: 'numeric', month: '2-digit', day: '2-digit' }).format(new Date(dateLike));\n    return Math.round(Date.parse(s + 'T00:00:00Z') / 86400000);\n}\nconst todayVn = vnDayNumber(Date.now());\n\nfunction statusInfo(dueDate) {\n    if (!dueDate) return { text: '', cls: '', warn: '', color: '' };\n    const diff = vnDayNumber(dueDate) - todayVn;\n    if (diff < 0)   return { text: 'QUÁ HẠN',  cls: 'badge-danger',  warn: `Trễ ${Math.abs(diff)} ngày`, color: '#ef4444' };\n    if (diff === 0) return { text: 'HÔM NAY',  cls: 'badge-warning', warn: 'Đến hạn',                    color: '#f59e0b' };\n    return { text: 'ĐANG LÀM', cls: 'badge-success', warn: `Còn ${diff} ngày`, color: '#10b981' };\n}\n\nconst CSS = `\n        body, html { margin: 0; padding: 0; width: 1920px; min-height: 1080px; background-color: #f1f5f9; font-family: 'Segoe UI', Arial, sans-serif; }\n        .header-title { width: 100%; background: #1e293b; color: white; font-size: 55px; padding: 30px 0; font-weight: bold; text-transform: uppercase; display: flex; align-items: center; justify-content: center; gap: 44px; }\n        .hdr-av { width: 150px; height: 150px; border-radius: 50%; object-fit: cover; flex-shrink: 0; border: 8px solid rgba(255,255,255,0.92); box-shadow: 0 8px 22px rgba(0,0,0,0.45); }\n        .hdr-av-fb { display: flex; align-items: center; justify-content: center; background: linear-gradient(135deg,#6366f1,#8b5cf6); color: #fff; font-size: 76px; }\n        table { width: 100%; border-collapse: collapse; table-layout: fixed; background: white; }\n        th { background: #4f46e5; color: white; font-size: 38px; padding: 25px 10px; border-bottom: 6px solid #3730a3; }\n        td { padding: 30px 15px; font-size: 38px; vertical-align: middle; border-bottom: 2px solid #e2e8f0; word-wrap: break-word; line-height: 1.3; }\n        tr:nth-child(even) { background-color: #f8fafc; }\n        th:nth-child(1) { width: 10%; } th:nth-child(2) { width: 33%; } th:nth-child(3) { width: 17%; }\n        th:nth-child(4) { width: 15%; } th:nth-child(5) { width: 13%; } th:nth-child(6) { width: 12%; }\n        .text-center { text-align: center; } .font-bold { font-weight: bold; } .text-primary { color: #1e3a8a; }\n        .text-id { color: #64748b; font-size: 30px; text-align: center; }\n        .cell-person { display: flex; align-items: center; justify-content: center; gap: 18px; }\n        .cell-person-multi { display: flex; flex-direction: column; align-items: center; gap: 14px; }\n        .cell-av { width: 80px; height: 80px; border-radius: 50%; object-fit: cover; flex-shrink: 0; box-shadow: inset 0 0 0 2px rgba(0,0,0,0.12); }\n        .cell-av-fb { display: inline-flex; align-items: center; justify-content: center; background: #6366f1; color: #fff; font-size: 34px; font-weight: 700; }\n        .badge { padding: 12px 20px; border-radius: 10px; color: white; font-weight: bold; display: inline-block; font-size: 28px; }\n        .badge-danger { background: #ef4444; } .badge-warning { background: #f59e0b; } .badge-success { background: #10b981; }\n`;\n\n// Bảng nhiều việc → chỉ hiện số 📎, không nhúng ảnh từng việc (bảng sẽ dài vô hạn)\nconst attBadge = t => (Array.isArray(t.attachments) && t.attachments.length)\n    ? ` <span style=\"color:#4f46e5;font-weight:800;\">📎${t.attachments.length}</span>` : '';\n\nfunction buildTable(title, list, headerName) {\n    const sorted = [...list].sort((a, b) => {\n        // Sắp theo tên thành viên ĐẦU TIÊN (người đại diện) rồi tới hạn chót\n        const nameA = (memberNamesOf(a)[0] || 'Chưa giao').toLowerCase();\n        const nameB = (memberNamesOf(b)[0] || 'Chưa giao').toLowerCase();\n        if (nameA < nameB) return -1;\n        if (nameA > nameB) return 1;\n        const dateA = a.due_date ? new Date(a.due_date).getTime() : 0;\n        const dateB = b.due_date ? new Date(b.due_date).getTime() : 0;\n        return dateA - dateB;\n    });\n\n    let rows = '';\n    sorted.forEach(t => {\n        const s = statusInfo(t.due_date);\n        // VIỆC NHÓM: liệt kê ĐỦ thành viên, mỗi người một dòng avatar + tên\n        const names = memberNamesOf(t);\n        const personCell = names.length\n            ? `<div class=\"cell-person-multi\">${names.map(n => `<div class=\"cell-person\">${avatarSmall(n)}<span>${n}</span></div>`).join('')}</div>`\n            : `<div class=\"cell-person\"><span>Chưa giao</span></div>`;\n        rows += `\n        <tr>\n            <td class=\"text-id\">${t.id || ''}</td>\n            <td class=\"font-bold text-primary\">${t.title}${attBadge(t)}</td>\n            <td class=\"text-center font-bold\" style=\"background-color: #fefce8;\">${personCell}</td>\n            <td class=\"text-center\" style=\"font-size: 32px;\">${t.due_date ? formatDateTime(t.due_date) : 'N/A'}</td>\n            <td class=\"text-center\"><span class=\"badge ${s.cls}\">${s.text}</span></td>\n            <td class=\"text-center font-bold\" style=\"color: ${s.color};\">${s.warn}</td>\n        </tr>`;\n    });\n\n    // Tiêu đề: bảng cá nhân có avatar lớn bên trái; bảng tổng hợp chỉ có chữ\n    const header = headerName\n        ? `<div class=\"header-title\">${avatarBig(headerName)}<span>${title}</span></div>`\n        : `<div class=\"header-title\"><span>${title}</span></div>`;\n\n    return `<!DOCTYPE html>\n<html lang=\"vi\">\n<head><meta charset=\"UTF-8\"><style>${CSS}</style></head>\n<body>\n    ${header}\n    <table>\n        <thead><tr><th>Mã CV</th><th>Tên công việc</th><th>Người làm</th><th>Hạn hoàn thành</th><th>Trạng thái</th><th>Cảnh báo</th></tr></thead>\n        <tbody>${rows}</tbody>\n    </table>\n</body>\n</html>`;\n}\n\nconst out = [];\n\n// 1) Bảng tổng hợp cả phòng (không avatar lớn ở tiêu đề, nhưng mỗi dòng có avatar nhỏ)\nif (tasks.length > 0) {\n    out.push({ json: {\n        html: buildTable('BẢNG TỔNG HỢP CÔNG VIỆC PHÒNG', tasks, null),\n        message_text: `Tổng hợp công việc [@${GROUP_ID}]`\n    }});\n}\n\n// 2) Bảng riêng từng người CÓ việc — VIỆC NHÓM tính cho MỌI thành viên\n//    (nên bảng cá nhân của cả 3 người trong nhóm đều chứa việc đó).\nconst byId = {};\ntasks.forEach(t => {\n    let ids = memberIdsOf(t);\n    // Fallback dòng rất cũ chỉ có cột name: tra ngược ra id để vẫn có bảng cá nhân\n    if (!ids.length && t.name && nvByName[t.name]) ids = [nvByName[t.name].id];\n    ids.forEach(id => { if (nvById[id]) (byId[id] = byId[id] || []).push(t); });\n});\n\nObject.keys(byId)\n    .sort((a, b) => (nvById[a].name || '').localeCompare(nvById[b].name || '', 'vi'))\n    .forEach(id => {\n        const nv = nvById[id];\n        const oaId = nv.id_zalo_oa;\n        if (!oaId) return; // không tìm thấy id_zalo_oa -> bỏ qua ảnh cá nhân, vẫn có trong bảng tổng hợp\n        out.push({ json: {\n            html: buildTable(`CÔNG VIỆC CỦA ${nv.name.toUpperCase()}`, byId[id], nv.name),\n            message_text: `[@${oaId}] Làm ăn quá phọt phẹt!`\n        }});\n    });\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4608,
        2864
      ],
      "id": "de7b1d92-18e4-4ca9-b629-31efd3b7dc61",
      "name": "Tạo nội dung ảnh (tổng hợp + cá nhân)"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "nhan_vien",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4128,
        3184
      ],
      "id": "a355c334-9ff4-49e8-ad2e-f63b7d576a1b",
      "name": "Lấy nhân viên (cập nhật)",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kAOz6fNsa8UHk4Ws",
          "name": "Supabase account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "cong_viec_duoc_giao",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "keyValue": "={{ $('Webhook cập nhật task').first().json.body.task.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4368,
        3184
      ],
      "id": "39d35e8c-0480-4085-b2a2-2eb001b94be2",
      "name": "Lấy công việc (cập nhật)",
      "credentials": {
        "supabaseApi": {
          "id": "kAOz6fNsa8UHk4Ws",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "tien_do",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "task_id",
              "condition": "eq",
              "keyValue": "={{ $('Webhook cập nhật task').first().json.body.task.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        4608,
        3184
      ],
      "id": "76d6e7b3-87c4-4629-a888-d9c433bc9b62",
      "name": "Lấy tiến độ",
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "kAOz6fNsa8UHk4Ws",
          "name": "Supabase account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// ==============================================================\n// TẠO THẺ CHI TIẾT khi 1 công việc được cập nhật (Webhook cập nhật task)\n// Đầu vào : Lấy công việc (cập nhật) + Lấy tiến độ + Lấy nhân viên (cập nhật)\n// Đầu ra  : 1 item { html, message_text } -> đi vào CHUỖI GỬI CHUNG\n// VIỆC NHÓM 2026-07-17: app gửi body.assignees = [{id, name, email}, ...] (đủ cả nhóm).\n// Tag [@id_zalo_oa] cho MỌI thành viên. body.assignee cũ vẫn còn (name = chuỗi gộp\n// \"Ngọc, Phong\") để tương thích ngược — payload cũ 1 người vẫn chạy nguyên.\n// ==============================================================\nconst task = $('Lấy công việc (cập nhật)').first().json || {};\nconst webhookBody = $('Webhook cập nhật task').first().json.body || {};\n\n// Node 'Lấy nhân viên (cập nhật)' giờ là Get Many (toàn bộ ~16 dòng) -> tra theo ID.\n// KHÔNG tra theo tên nữa: tên việc nhóm là chuỗi gộp \"Ngọc, Phong\" nên lọc name không khớp ai.\nlet allNv = [];\ntry { allNv = $('Lấy nhân viên (cập nhật)').all().map(i => i.json).filter(n => n && n.id); } catch (e) { allNv = []; }\nconst nvById = {};\nallNv.forEach(n => { nvById[n.id] = n; });\n\nconst members = Array.isArray(webhookBody.assignees) && webhookBody.assignees.length\n    ? webhookBody.assignees\n    : (webhookBody.assignee && webhookBody.assignee.id ? [webhookBody.assignee] : []);\n\nconst nvList = members.map(m => nvById[m.id]).filter(Boolean);\nconst nv = nvList[0] || {};   // avatar trên thẻ = người đầu tiên trong nhóm\n\n// Các dòng tiến độ của task (đã lọc theo task_id ở node trước)\nconst tienDo = $input.all().map(i => i.json).filter(r => r && r.task_id);\n\n// ===== AVATAR (ảnh đại diện nhân viên) =====\n// DB lưu đường dẫn tương đối '/avatars/x.webp'. HCTI render trên server riêng nên\n// PHẢI ghép thành URL tuyệt đối theo tên miền app đã deploy. Đổi APP_BASE bên dưới.\nconst APP_BASE = 'https://amazing-frangollo-eb56a9.netlify.app'; // vd: 'https://qlsx-tgln.netlify.app' (KHÔNG có dấu / ở cuối)\nfunction avatarUrl(p) {\n    if (!p) return '';\n    if (/^https?:\\/\\//i.test(p)) return p;\n    return APP_BASE.replace(/\\/+$/, '') + (p.charAt(0) === '/' ? p : '/' + p);\n}\n\n// ===== MÚI GIỜ (fix lệch -7 tiếng) =====\n// Server n8n chạy UTC nên new Date().getHours() trả giờ UTC (10:00 VN in ra 03:00).\n// Mọi format/đếm ngày phải ÉP Asia/Ho_Chi_Minh, KHÔNG dùng getHours()/setHours().\nconst VN_TZ = 'Asia/Ho_Chi_Minh';\n\nfunction formatDateTime(isoString) {\n    try {\n        const parts = new Intl.DateTimeFormat('en-GB', {\n            timeZone: VN_TZ, hour12: false,\n            day: '2-digit', month: '2-digit', year: 'numeric',\n            hour: '2-digit', minute: '2-digit'\n        }).formatToParts(new Date(isoString));\n        const g = t => parts.find(x => x.type === t).value;\n        return `${g('day')}/${g('month')}/${g('year')} ${g('hour')}:${g('minute')}`;\n    } catch (e) { return isoString; }\n}\n\n// Số thứ tự NGÀY theo giờ VN (ngày kể từ epoch) — đếm \"còn/trễ X ngày\" đúng cả quanh nửa đêm VN.\nfunction vnDayNumber(dateLike) {\n    const s = new Intl.DateTimeFormat('en-CA', { timeZone: VN_TZ, year: 'numeric', month: '2-digit', day: '2-digit' }).format(new Date(dateLike));\n    return Math.round(Date.parse(s + 'T00:00:00Z') / 86400000);\n}\nconst todayVn = vnDayNumber(Date.now());\n\n// ===== BỘ ICON SVG (nét trắng, dùng chung cho nhãn) =====\nconst ICONS = {\n    content: `<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#fff\" stroke-width=\"2.1\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><rect x=\"8\" y=\"2\" width=\"8\" height=\"4\" rx=\"1\"/><path d=\"M16 4h2a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h2\"/><path d=\"M9 13h6M9 17h4\"/></svg>`,\n    clock:   `<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#fff\" stroke-width=\"2.1\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M12 7v5l3 2\"/></svg>`,\n    trend:   `<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#fff\" stroke-width=\"2.1\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><polyline points=\"3 17 9 11 13 15 21 7\"/><polyline points=\"15 7 21 7 21 13\"/></svg>`,\n    user:    `<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#fff\" stroke-width=\"2.1\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><circle cx=\"12\" cy=\"8\" r=\"4\"/><path d=\"M4 21v-1a6 6 0 0 1 6-6h4a6 6 0 0 1 6 6v1\"/></svg>`,\n    alert:   `<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#fff\" stroke-width=\"2.1\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><path d=\"M12 3 2 20h20L12 3z\"/><path d=\"M12 10v4\"/><path d=\"M12 17.5h.01\"/></svg>`,\n    check:   `<svg viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#fff\" stroke-width=\"2.1\" stroke-linecap=\"round\" stroke-linejoin=\"round\"><circle cx=\"12\" cy=\"12\" r=\"9\"/><path d=\"M8 12l3 3 5-6\"/></svg>`\n};\nconst badgeIcon = (name) => `<span class=\"badge-ic\">${ICONS[name]}</span>`;\n\n// VIỆC NHÓM: tên hiển thị = đủ mọi thành viên. Fallback về dữ liệu cũ khi payload không có assignees.\nconst assigneeName = members.length\n    ? members.map(m => m.name).join(', ')\n    : (task.name || (webhookBody.assignee && webhookBody.assignee.name) || 'Chưa giao');\nconst formattedDueDate = task.due_date ? formatDateTime(task.due_date) : 'N/A';\n\n// Avatar đưa vào ô BÊN TRÁI của dòng đầu. Không có ảnh -> vòng tròn chữ cái đầu tên\n// (lấy tên người đầu tiên, không lấy chuỗi gộp).\nconst avUrl = avatarUrl(nv.avatar);\nconst heroInitials = (nv.name || assigneeName || '?').trim().split(/\\s+/).map(w => w[0]).slice(-2).join('').toUpperCase() || '?';\nconst rowAvatar = avUrl\n    ? `<img class=\"av\" src=\"${avUrl}\" alt=\"\"/>`\n    : `<div class=\"av av-fb\">${heroInitials}</div>`;\n\n// Tình trạng + kiểu cảnh báo cho cả thẻ\nlet statusHtml = `<span class=\"badge badge-secondary\">${badgeIcon('clock')} Chưa có hạn</span>`;\nlet cardClass = '';\nlet statusIcon = ICONS.check;\nlet statusRowColor = 'row-status-neutral';\nif (task.due_date) {\n    const diffDays = vnDayNumber(task.due_date) - todayVn;\n    if (diffDays < 0) {\n        statusHtml = `<span class=\"badge badge-danger\">${badgeIcon('alert')} Quá hạn ${Math.abs(diffDays)} ngày</span>`;\n        cardClass = 'card-overdue'; statusIcon = ICONS.alert; statusRowColor = 'row-status-danger';\n    } else if (diffDays === 0) {\n        statusHtml = `<span class=\"badge badge-warning\">${badgeIcon('alert')} Hạn hôm nay</span>`;\n        cardClass = 'card-today'; statusIcon = ICONS.alert; statusRowColor = 'row-status-warning';\n    } else if (diffDays <= 2) {\n        statusHtml = `<span class=\"badge badge-warning\">${badgeIcon('clock')} Còn ${diffDays} ngày</span>`;\n        cardClass = 'card-today'; statusIcon = ICONS.clock; statusRowColor = 'row-status-warning';\n    } else {\n        statusHtml = `<span class=\"badge badge-success\">${badgeIcon('check')} Còn ${diffDays} ngày</span>`;\n        statusIcon = ICONS.check; statusRowColor = 'row-status-success';\n    }\n}\n\n// Tiến độ gần nhất = dòng tien_do cuối cùng (không cần gộp chuỗi rồi tách lại)\nlet latestUpdate = `<span class=\"empty\">Chưa có cập nhật</span>`;\nif (tienDo.length > 0) {\n    const last = tienDo[tienDo.length - 1];\n    latestUpdate = `<span class=\"up-content\">${last.content}</span><span class=\"up-meta\">${formatDateTime(last.time)} · ${last.name}</span>`;\n}\n\n// ===== ĐÍNH KÈM (của công việc + lần cập nhật tiến độ MỚI NHẤT) =====\n// Bản copy đồng bộ với splitZaloAttachments/buildZaloAttachmentText trong src/lib/attachments.js.\n// Sửa ở đây là PHẢI sửa cả bên đó (và ngược lại) — xem docs/n8n/nhac-viec-workflows.md.\n// MỘT KHỐI duy nhất: ảnh NHÚNG vào lưới trong thẻ (HCTI render) → 10 ảnh vẫn là 1 tin nhắn.\n// Video/file gửi link vì Zalo OA không có endpoint upload video.\nconst MAX_EMBED_IMAGES = 10;\nconst fmtSize = (b) => { const n = Number(b) || 0; return n < 1024 * 1024 ? Math.round(n / 1024) + 'KB' : (Math.round((n / 1024 / 1024) * 10) / 10) + 'MB'; };\nconst attsTask = Array.isArray(task.attachments) ? task.attachments : [];\nconst lastTien = tienDo.length ? tienDo[tienDo.length - 1] : null;\nconst attsTien = (lastTien && Array.isArray(lastTien.attachments)) ? lastTien.attachments : [];\nconst seenPath = new Set(); const atts = [];\nfor (const a of [...attsTask, ...attsTien]) {\n    const k = a && (a.path || a.url);\n    if (k && !seenPath.has(k)) { seenPath.add(k); atts.push(a); }\n}\nconst zImages = [];   // ảnh nhúng vào thẻ; MỌI file đều có link riêng trong message_text\nfor (const a of atts) {\n    if (a.kind === 'image' && zImages.length < MAX_EMBED_IMAGES) zImages.push(a);\n}\nconst FILE_VIEW_BASE = 'https://thegioilocnuoc.site/webhook/f?p='; // webhook 'xem file' — link ngắn + Office viewer\nconst viewUrl = (a) => a.path ? FILE_VIEW_BASE + a.path : a.url;\n// Nhãn \"Bấm vào đây...\" là dòng chữ ĐỨNG TRƯỚC link trần — Zalo không cho gắn chữ lên link.\n// Liệt kê MỌI đính kèm kể cả ảnh đã nhúng: ảnh trong thẻ bị thu nhỏ và không bấm mở được.\nconst LINK_LABEL = { image: '🖼 Bấm vào đây để xem ảnh', video: '🎬 Bấm vào đây để xem video', file: '📄 Bấm vào đây xem file gửi kèm' };\nconst kindOfAtt = (a) => { if (a.kind) return a.kind; const m = String(a.mime || '').toLowerCase(); return m.indexOf('image/') === 0 ? 'image' : m.indexOf('video/') === 0 ? 'video' : 'file'; };\nconst attTotal = {}; for (const a of atts) { const k = kindOfAtt(a); attTotal[k] = (attTotal[k] || 0) + 1; }\nconst attSeen = {};\nconst attachText = atts.length\n    ? '\\n\\n📎 Đính kèm:\\n' + atts.map(a => {\n        const k = kindOfAtt(a);\n        attSeen[k] = (attSeen[k] || 0) + 1;\n        const num = attTotal[k] > 1 ? ' (' + attSeen[k] + '/' + attTotal[k] + ')' : '';\n        return (LINK_LABEL[k] || LINK_LABEL.file) + num + ' — ' + fmtSize(a.size) + ':\\n' + viewUrl(a);\n      }).join('\\n')\n    : '';\nconst nImg = atts.filter(a => a.kind === 'image').length;\nconst nVid = atts.filter(a => a.kind === 'video').length;\nconst nFile = atts.length - nImg - nVid;\nconst attachSummary = [nImg ? nImg + ' ảnh' : '', nVid ? nVid + ' video' : '', nFile ? nFile + ' tệp' : ''].filter(Boolean).join(', ');\nconst attachRow = atts.length ? `\n            <div class=\"row row-attach\">\n                <div class=\"label\"><span class=\"ic\">${ICONS.content}</span>Đính kèm</div>\n                <div class=\"value\">${atts.length} file (${attachSummary}) — link từng file ở tin nhắn</div>\n            </div>` : '';\n// Ảnh càng ít càng phóng to; height auto để KHÔNG cắt (ảnh chụp màn hình phải đọc được chữ).\n// Ảnh upload đã nén cạnh dài 1600px nên 1 ảnh hiện kích thước gốc là to nhất có thể, không upscale mờ.\nconst imgStyle = zImages.length === 1 ? 'width:auto;max-width:1700px'\n    : zImages.length <= 4 ? 'width:880px' : 'width:580px';\nconst attachGrid = zImages.length ? `\n            <div class=\"att-grid\">${zImages.map(a => `<img class=\"att-img\" style=\"${imgStyle}\" src=\"${a.url}\"/>`).join('')}</div>` : '';\n\nconst card = `\n        <div class=\"card ${cardClass}\">\n            <div class=\"row row-hero\">\n                <div class=\"hero-ava\"><div class=\"hero-name\">${assigneeName}</div>${rowAvatar}</div>\n                <div class=\"value title big\">${task.title || ''}</div>\n            </div>\n            <div class=\"row row-due\">\n                <div class=\"label\"><span class=\"ic\">${ICONS.clock}</span>Thời hạn hoàn thành</div>\n                <div class=\"value\">${formattedDueDate}</div>\n            </div>\n            <div class=\"row row-progress\">\n                <div class=\"label\"><span class=\"ic\">${ICONS.trend}</span>Tiến độ gần nhất</div>\n                <div class=\"value update-value\">${latestUpdate}</div>\n            </div>\n            <div class=\"row row-person\">\n                <div class=\"label\"><span class=\"ic\">${ICONS.user}</span>Người thực hiện</div>\n                <div class=\"value strong\">${assigneeName}</div>\n            </div>\n${attachRow}\n            <div class=\"row ${statusRowColor}\">\n                <div class=\"label\"><span class=\"ic\">${statusIcon}</span>Tình trạng</div>\n                <div class=\"value\">${statusHtml}</div>\n            </div>\n            ${attachGrid}\n        </div>\n`;\n\nconst htmlContent = `\n<!DOCTYPE html>\n<html lang=\"vi\">\n<head>\n    <meta charset=\"UTF-8\">\n    <style>\n        body, html {\n            margin: 0; padding: 0;\n            width: 1920px; min-height: 1080px;\n            background: linear-gradient(160deg, #eef2ff 0%, #f8fafc 45%, #ecfeff 100%);\n            font-family: 'Segoe UI', Arial, sans-serif;\n        }\n        .wrapper { padding: 55px 70px; }\n\n        .card {\n            background: #ffffff; border-radius: 28px;\n            box-shadow: 0 14px 40px rgba(30,41,59,0.12);\n            padding: 22px; margin-bottom: 48px;\n            border-left: 14px solid #cbd5e1;\n        }\n        .card-overdue { border-left-color: #dc2626; background: #fef2f2; }\n        .card-today   { border-left-color: #f59e0b; background: #fffbeb; }\n\n        .row {\n            display: flex; align-items: stretch;\n            border-radius: 18px; overflow: hidden;\n            margin-bottom: 16px;\n            min-height: 150px;\n            box-shadow: 0 4px 12px rgba(0,0,0,0.06);\n        }\n        .row:last-child { margin-bottom: 0; }\n\n        .label {\n            width: 480px; flex-shrink: 0;\n            color: #ffffff; font-size: 40px; font-weight: 700;\n            padding: 30px 34px; display: flex; align-items: center; gap: 20px;\n        }\n        .ic { width: 56px; height: 56px; flex-shrink: 0; display: inline-flex; }\n        .ic svg { width: 100%; height: 100%; }\n\n        .value {\n            flex: 1; font-size: 44px; color: #0f172a;\n            padding: 30px 40px; display: flex; align-items: center;\n            word-wrap: break-word; line-height: 1.35;\n        }\n        .value.title { font-weight: 800; font-size: 48px; }\n        .value.title.big { font-size: 62px; line-height: 1.25; }\n        .value.strong { font-weight: 800; }\n\n        /* Dòng đầu: ô trái = avatar (nền tím), ô phải = nội dung công việc to */\n        .row-hero { min-height: 320px; }\n        /* Ô trái = tên (bên trái) + avatar (bên phải), CỤM căn giữa ô. Cùng box-model với .label\n           (width 480 + padding 34) để mép phải THẲNG hàng với các ô nhãn bên dưới.\n           VIỆC NHÓM: tên gộp \"Hằng, Thơ, Xuân\" dài → cho xuống dòng (normal), KHÔNG nowrap. */\n        .hero-ava { width: 480px; padding: 30px 34px; box-sizing: content-box; flex-shrink: 0; display: flex; align-items: center; justify-content: center; gap: 28px; background: linear-gradient(135deg,#6366f1,#8b5cf6); }\n        .hero-ava .hero-name { color: #fff; font-size: 52px; font-weight: 800; line-height: 1.2; white-space: normal; word-break: break-word; }\n        .hero-ava .av { width: 232px; height: 232px; flex-shrink: 0; border-radius: 50%; object-fit: cover; border: 9px solid rgba(255,255,255,0.92); box-shadow: 0 8px 26px rgba(0,0,0,0.32); }\n        .hero-ava .av-fb { display: flex; align-items: center; justify-content: center; background: rgba(255,255,255,0.22); color: #fff; font-size: 104px; font-weight: 800; }\n        .row-hero .value { background: #ddd6fe; color: #4338ca; border: 3px solid #a78bfa; }\n        .update-value { flex-direction: column; align-items: flex-start; justify-content: center; }\n        .up-content { color: #0f172a; }\n        .up-meta { font-size: 34px; font-style: italic; color: #b45309; margin-top: 8px; }\n        .empty { color: #b45309; font-style: italic; }\n\n        .row-due .label { background: linear-gradient(135deg,#0ea5e9,#06b6d4); }\n        .row-due .value { background: #bae6fd; color:#0369a1; font-weight:800; border:3px solid #38bdf8; }\n\n        .row-progress .label { background: linear-gradient(135deg,#f59e0b,#f97316); }\n        .row-progress .value { background: #fed7aa; color:#9a3412; border:3px solid #fb923c; }\n\n        .row-person .label { background: linear-gradient(135deg,#10b981,#14b8a6); }\n        .row-person .value { background: #a7f3d0; color:#065f46; border:3px solid #34d399; }\n\n        .row-status-success .label { background: linear-gradient(135deg,#10b981,#059669); }\n        .row-status-success .value { background: #a7f3d0; border:3px solid #34d399; }\n        .row-status-warning .label { background: linear-gradient(135deg,#f59e0b,#d97706); }\n        .row-status-warning .value { background: #fde68a; border:3px solid #fbbf24; }\n        .row-status-danger  .label { background: linear-gradient(135deg,#ef4444,#dc2626); }\n        .row-status-danger  .value { background: #fecaca; border:3px solid #f87171; }\n        .row-status-neutral .label { background: linear-gradient(135deg,#94a3b8,#64748b); }\n        .row-status-neutral .value { background: #e2e8f0; border:3px solid #cbd5e1; }\n\n        .row-attach .label { background: linear-gradient(135deg,#8b5cf6,#6366f1); }\n        .row-attach .value { background: #ede9fe; color: #5b21b6; border: 3px solid #a78bfa; font-weight: 700; }\n        .att-grid { display: flex; flex-wrap: wrap; gap: 20px; padding: 20px 6px 6px; justify-content: center; }\n        .att-img { height: auto; border-radius: 18px; border: 3px solid #a78bfa; background: #f5f3ff; }\n\n        .badge {\n            padding: 16px 36px; border-radius: 22px; color: #ffffff;\n            font-weight: 800; display: inline-flex; align-items: center; gap: 16px;\n            font-size: 42px; line-height: 1.1;\n            box-shadow: 0 6px 16px rgba(0,0,0,0.18);\n        }\n        .badge-ic { width: 46px; height: 46px; display:inline-flex; }\n        .badge-ic svg { width:100%; height:100%; }\n        .badge-danger    { background: linear-gradient(to right, #ef4444, #dc2626); }\n        .badge-warning   { background: linear-gradient(to right, #f59e0b, #d97706); }\n        .badge-success   { background: linear-gradient(to right, #10b981, #059669); }\n        .badge-secondary { background: linear-gradient(to right, #94a3b8, #64748b); }\n    </style>\n</head>\n<body>\n    <div class=\"wrapper\">\n        ${card}\n    </div>\n</body>\n</html>\n`;\n\n// VIỆC NHÓM: tag [@id_zalo_oa] cho MỌI thành viên có id_zalo_oa (thiếu thì bỏ khỏi tag,\n// vẫn có tên trên thẻ) — việc 1 người ra đúng 1 tag như cũ.\nconst mentionIds = nvList.map(n => n.id_zalo_oa).filter(Boolean);\nconst mention = mentionIds.length ? mentionIds.map(id => '[@' + id + ']').join(' ') + ' ' : '';\nreturn [{ json: {\n    html: htmlContent,\n    message_text: mention + 'Làm ăn quá phọt phẹt!' + attachText,\n    ms_delay: zImages.length ? 3000 : 1200,   // chờ HCTI tải ảnh đính kèm từ Storage\n} }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4848,
        3184
      ],
      "id": "ba209ceb-2b39-4091-b1ae-897f4da82746",
      "name": "Tạo nội dung thẻ chi tiết"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        5104,
        3024
      ],
      "id": "a6461f2d-8300-4089-a615-40cacb47147d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hcti.io/v1/image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "html",
              "value": "={{ $json.html }}"
            },
            {
              "name": "format",
              "value": "png"
            },
            {
              "name": "ms_delay",
              "value": "={{ $json.ms_delay || 1200 }}"
            }
          ]
        },
        "options": {
          "lowercaseHeaders": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5376,
        3120
      ],
      "id": "ec0ef6d2-d107-4808-8707-6bdc8f626be2",
      "name": "Tạo ảnh HCTI",
      "credentials": {
        "httpBasicAuth": {
          "id": "pFhKIVPiiKdinNo4",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $('Tạo ảnh HCTI').item.json.url }}.jpg",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        5616,
        3120
      ],
      "id": "e53bb197-5fb0-425e-a5c3-c80003f81e90",
      "name": "Tải ảnh JPG"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.zalo.me/v2.0/oa/upload/image",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Lấy token OA').first().json.access_token }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6048,
        3120
      ],
      "id": "aff18dc6-7ef6-407b-9cff-37488a8568c4",
      "name": "Upload ảnh lên OA"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://openapi.zalo.me/v3.0/oa/group/message",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $('Lấy token OA').first().json.access_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"group_id\": \"deb64378401ba945f00a\"\n  },\n  \"message\": {\n    \"text\": {{ JSON.stringify($('Loop Over Items').item.json.message_text) }},\n    \"attachment\": {\n      \"type\": \"template\",\n      \"payload\": {\n        \"template_type\": \"media\",\n        \"elements\": [\n          {\n            \"media_type\": \"image\",\n            \"attachment_id\": \"{{ $json.data.attachment_id }}\"\n          }\n        ]\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        6288,
        3120
      ],
      "id": "414c684d-afdc-4e3e-b9e1-87fd8de99205",
      "name": "Gửi ảnh vào nhóm OA"
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6528,
        3120
      ],
      "id": "a703f866-7d32-41ba-8741-f72bbe4cb960",
      "name": "Chờ 2 giây",
      "webhookId": "10000000-0000-4000-8000-00000000wait"
    },
    {
      "parameters": {
        "content": "## 3 nguồn kích hoạt → 1 lần lấy token\nSchedule 8h/17h và Webhook tổng hợp đi nhánh TRÊN.\nWebhook cập nhật task đi nhánh DƯỚI.\nToken OA chỉ đọc Google Sheets 1 lần/lượt chạy.",
        "height": 120,
        "width": 420
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3344,
        2656
      ],
      "id": "c7cfdf02-8d62-48f8-afda-537f87350c54",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Chuẩn hoá đầu ra: { html, message_text }\nCả 2 nhánh đều trả về items cùng định dạng\n→ dùng CHUNG 1 chuỗi gửi phía sau.\nNhánh trên: 1 bảng phòng + N bảng cá nhân (không hardcode tên).\nNhánh dưới: 1 thẻ chi tiết task vừa cập nhật.",
        "height": 140,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4512,
        2656
      ],
      "id": "3797eb92-45ef-42f6-8a80-4a35acccc07d",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Chuỗi gửi dùng chung (thay cho 3 bản copy cũ)\nHCTI tạo PNG → tải bản .jpg (nén, không méo, bỏ Edit Image)\n→ upload OA → gửi nhóm kèm mention → chờ 2s tránh rate limit → lặp.",
        "height": 120,
        "width": 520
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5328,
        2896
      ],
      "id": "5467a21a-971e-4b7d-97a4-cd5dd3a88fa9",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## FIX MÚI GIỜ 2026-07-15 (lệch -7 tiếng)\nServer n8n chạy UTC → getHours() in 03:00 thay vì 10:00.\nCả 2 node Code đã ÉP Asia/Ho_Chi_Minh bằng Intl.DateTimeFormat\n(formatDateTime + vnDayNumber đếm 'còn/trễ X ngày' theo ngày VN).\nKhi sửa code sau này: KHÔNG dùng getHours()/setHours() trực tiếp.",
        "height": 140,
        "width": 520,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3888,
        3296
      ],
      "id": "996ddb45-5a8e-4a76-91d6-317cd956afe7",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## ĐÍNH KÈM v2 2026-07-16 — MỘT KHỐI DUY NHẤT\nThẻ chi tiết đọc task.attachments + attachments của lần cập nhật tiến độ MỚI NHẤT (jsonb):\n- Ảnh (tối đa 10): NHÚNG lưới <img> ngay trong thẻ → HCTI render → vẫn chỉ 1 tin nhắn.\n- Video/file: chèn link vào message_text (Zalo OA không upload được video).\n- ms_delay HCTI tự tăng 1200→3000 khi có ảnh nhúng (chờ tải ảnh từ Storage).\n⚠ Khối ĐÍNH KÈM trong node code là BẢN COPY của src/lib/attachments.js — sửa 1 bên phải sửa cả 2.",
        "height": 180,
        "width": 540,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4816,
        3488
      ],
      "id": "8ad56281-6556-4535-8faa-efbc6de20a49",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## VIỆC NHÓM 2026-07-17\nApp cho giao 1 việc cho NHIỀU nhân viên (cột assignee_ids text[]).\nPayload nhắc việc có thêm body.assignees = [{id, name, email}, ...].\n\nĐã sửa trong workflow này:\n1. Node 'Lấy nhân viên (cập nhật)': Get → GET MANY (bỏ filter name —\n   tên việc nhóm là chuỗi gộp 'Ngọc, Phong' nên lọc name không khớp ai).\n2. Thẻ chi tiết: tag [@id_zalo_oa] cho MỌI thành viên; tên hero xuống dòng.\n3. Bảng 8h/17h: gom theo assignee_ids — việc nhóm nằm trong bảng cá nhân\n   của TỪNG thành viên; ô 'Người làm' liệt kê đủ mọi người.\n4. NỐI LẠI dây đứt: bản trước Tải ảnh JPG → Edit Image (đường cụt, Upload\n   không có dây vào). Nay JPG → thẳng Upload theo ghi chú 'bỏ Edit Image'.\n   Node Edit Image giữ lại nhưng KHÔNG nối — muốn dùng thì tự kéo dây.\nViệc 1 người chạy y như cũ (payload cũ không có assignees vẫn tương thích).",
        "height": 240,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3344,
        2400
      ],
      "id": "e7f9a3b1-2c4d-4e6f-8a9b-1c2d3e4f5a6b",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "operation": "resize",
        "resizeOption": "onlyIfLarger",
        "options": {}
      },
      "type": "n8n-nodes-base.editImage",
      "typeVersion": 1,
      "position": [
        5824,
        3120
      ],
      "id": "f47e9504-7ae7-444b-a9e7-e4542d8429d1",
      "name": "Edit Image"
    }
  ],
  "connections": {
    "Webhook xem file": {
      "main": [
        [
          {
            "node": "Chọn đích xem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chọn đích xem": {
      "main": [
        [
          {
            "node": "Chuyển hướng 302",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule 8h & 17h": {
      "main": [
        [
          {
            "node": "Lấy token OA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook tổng hợp": {
      "main": [
        [
          {
            "node": "Lấy token OA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook cập nhật task": {
      "main": [
        [
          {
            "node": "Lấy token OA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy token OA": {
      "main": [
        [
          {
            "node": "Là cập nhật task?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Là cập nhật task?": {
      "main": [
        [
          {
            "node": "Lấy nhân viên (cập nhật)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lấy nhân viên",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy nhân viên": {
      "main": [
        [
          {
            "node": "Lấy công việc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy công việc": {
      "main": [
        [
          {
            "node": "Tạo nội dung ảnh (tổng hợp + cá nhân)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo nội dung ảnh (tổng hợp + cá nhân)": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy nhân viên (cập nhật)": {
      "main": [
        [
          {
            "node": "Lấy công việc (cập nhật)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy công việc (cập nhật)": {
      "main": [
        [
          {
            "node": "Lấy tiến độ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lấy tiến độ": {
      "main": [
        [
          {
            "node": "Tạo nội dung thẻ chi tiết",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo nội dung thẻ chi tiết": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Tạo ảnh HCTI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tạo ảnh HCTI": {
      "main": [
        [
          {
            "node": "Tải ảnh JPG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tải ảnh JPG": {
      "main": [
        [
          {
            "node": "Upload ảnh lên OA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload ảnh lên OA": {
      "main": [
        [
          {
            "node": "Gửi ảnh vào nhóm OA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gửi ảnh vào nhóm OA": {
      "main": [
        [
          {
            "node": "Chờ 2 giây",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chờ 2 giây": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "3ea5c6d0c36cbc08e2627e89f82a9a6d5c7d746c0e34b66b395bab5a90858f61"
  }
}